<html>
  <head>
    <meta http-equiv="refresh" content="180">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Object Detection @ Edge</title>
    <link rel="stylesheet" type="text/css" href="static/style_index.css">
    <link rel="shortcut icon" type="image/png" href="static/favicon.ico"/>
    <meta name="author" content="VM">
  </head>
  <body>
    <h1 align="center"> ~ Object Detection @ Edge ~</h1>

    <img alt="Loading..." src="{{ url_for('video_feed') }}" class="center">
    
    <a href="https://github.com/EscVM">
      <img src="{{url_for('static', filename='logo.png')}}" align="left", height="50" width="50">
    </a>
  </body>
</html>
